body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f9fc;
}

header {
    background-color: #14213d;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #fca311;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}

section {
    margin: 20px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #14213d;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #e5e5e5;
}

img {
    width: 45%;
    border: 3px solid #14213d;
    margin: 10px;
    border-radius: 10px;
}

.highlight {
    color: #14213d;
    background-color: #fca311;
    padding: 4px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #14213d;
    color: white;
    margin-top: 20px;
}